:root {
  --mainbgc: rgb(31, 30, 32);
  --borderColor: rgba(214, 82, 6, 0.171);
  --borderColorHover: rgba(214, 82, 6, 0.664);
  --fontOrangeColor: rgba(214, 82, 6, 0.966);
  --mainFontColor: rgb(255, 255, 255);
  --outerDivColor: black;
  --font-style: "Black Ops One"
}

html::selection {

  background-color: var(--fontOrangeColor);
  color: white;
}

body {
  background-color: var(--mainbgc);
  color: var(--mainFontColor);
  font-family: var(--font-style);
}


.heading {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

pre {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--font-style);
  font-size: 35px;

}

span {
  width: fit-content;
  height: fit-content;
  color: var(--fontOrangeColor);
}

.outer-div {
  /* background-color: var(--outerDivColor); */
  border: 0.5px solid var(--borderColor);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 200px;
  /* box-shadow: 0 4px 15px var(--borderColor); */
  transition: all 0.3s ease-in-out;
}

.outer-div:hover {
  /* border: 3px solid var(--borderColorHover); */
  border: transparent;
  box-shadow: 0px 0px 1000px 10px var(--borderColor);
}

.inner-div {
  width: 90%;
  height: 90%;
  /* border: 1px solid var(--borderColor); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.input-div {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-mail-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  font-size: 18px;
  color: var(--mainFontColor);
  background-color: transparent;
  border-right: 3px solid var(--borderColor);
  border-bottom: none;
  border-top: none;
  border-left: none;
  resize: none;
  overflow-y: auto;
  scrollbar-width: none;
  caret-color: var(--fontOrangeColor);
  transition: all 0.3s;
}

textarea:focus {
  outline: none;
  border: none;
  border-right: 3px solid var(--borderColorHover);
}

.send-btn-div {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 20px;
}

.send-btn {
  background-color: rgb(146, 57, 15);
  width: 60px;
  height: 40px;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mainFontColor);
  font-size: large;
  cursor: pointer;
  transition: all 0.3s;
}

.send-btn:hover {
  padding-left: 40px;
  background-color: rgb(194, 74, 19);
  font-stretch: expanded;
}


/* Tablet */
@media screen and (max-width: 900px) {

  .heading {
    top: 18%;
    width: 100%;
  }

  pre {
    font-size: 30px;
  }

  .outer-div {
    width: 80vw;
    height: 220px;
  }

  .inner-div {
    width: 90%;
    height: 90%;
  }

  .input-div {
    width: 65%;
  }

  .input-mail-content {
    font-size: 16px;
  }
}


/* mobile */
@media screen and (max-width: 600px) {

  .heading {
    top: 15%;
    width: 100%;
  }

  pre {
    font-size: 22px;
  }

  .outer-div {
    width: 90vw;
    height: 280px;
  }

  .inner-div {
    width: 90%;
    height: 90%;

    flex-direction: column;
    gap: 15px;
  }

  .input-div {
    width: 100%;
    height: 70%;
  }

  .input-mail-content {
    width: 100%;
    height: 100%;

    border-right: none;
    border-bottom: 3px solid var(--borderColor);

    font-size: 16px;
  }

  textarea:focus {
    border-right: none;
    border-bottom: 3px solid var(--borderColorHover);
  }

  .send-btn-div {
    width: 100%;
    height: 50px;
  }

  .send-btn {
    width: 60px;
    height: 40px;
  }
}